<h1>Listing swarm_behaviors</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @swarm_behaviors.each do |swarm_behavior| %>
      <tr>
        <td><%= swarm_behavior.rating %></td>
        <td><%= link_to 'Destroy', swarm_behavior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Swarm behavior', new_swarm_behavior_path %>
